<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zgkaii.mysql.mission09.mapper.StudentMapper">

    <select id="query" resultType="com.zgkaii.mysql.mission09.entity.Student">
        SELECT * FROM student
    </select>

    <insert id="insert" parameterType="com.zgkaii.mysql.mission09.entity.Student">
        INSERT INTO student(id,name) VALUES (#{id},#{name})
    </insert>

</mapper>